PORT = 3000
HOST = 192.168.2.5

FRONTENDS_SERVERS = "http://localhost:3001,http://localhost:3002"

PVT_BE_API_SERVER ="http://localhost:<port>"
PVT_BACKEND_API_SERVER ="http://localhost:<port>"

PVT_HASH_SECRET = "secret"

# Keycloak configuration
KEYCLOAK_URL = http://192.168.2.5:8080
KEYCLOAK_REALM = muserpol
KEYCLOAK_CLIENT_ID_HUB_INTERFACE = hub-interface
KEYCLOAK_CLIENT_SECRET_HUB_INTERFACE = 22peJs0mnoQ0KKaT9oJX34efNv9TT2JV
KEYCLOAK_CLIENT_ID_BENEFICIARY_INTERFACE = beneficiary-interface
KEYCLOAK_CLIENT_SECRET_BENEFICIARY_INTERFACE = hwVjS9nDD4wfpnqVeXcU6gcky1iLY2hK
