PORT = 3000
HOST = 192.168.2.5

FRONTENDS_SERVERS = "http://localhost:3001,http://localhost:3002"

PVT_BE_API_SERVER ="http://localhost:<port>"
PVT_BACKEND_API_SERVER ="http://localhost:<port>"

PVT_HASH_SECRET = "secret"

# Keycloak configuration
KEYCLOAK_URL = http://192.168.2.5:8080
KEYCLOAK_REALM = myrealm
KEYCLOAK_CLIENT_ID = gateway-service
KEYCLOAK_CLIENT_SECRET = oYQQo24CQ3m9oT7nIr4cKRoRWqhiCnBC